<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Assumptions</h1>
            </hgroup>
            <p>Due the time restricction and some ambiguities that I found on the challengee file I had to make some assumptions, which I'm describing in this section</p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div>
            <p class="boldText">The assumptions taken were the following:</p>
            <ul>
                <li>The only players stored are the one that wins the first and second place of a game. I had to take this assumption becausee of the difference with the description of the championship and the rest api method that says that both first and second place.</li>
                <li>Following the previous assumption I'm giving 1 point to the second place of a tournament since there is no mention of how many points have to be given to the second place of a championship.</li>
                <li>As I'm only saving the first two places of a championship the top players will only display the players that have at least 1 point.</li>
            </ul>
        </div>
    </section>
</div>
