<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Information</h1>
            </hgroup>
            <h2>About Me</h2>
            <P>If I had to describe me in two words I'd say proactive and passionate due the fact that I really like what I do and I really enjoy learning because... All the unknown is a new challenge that we can take.</P>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div>
            <h3>Repository Location</h3>
            <p>https://github.com/AndresJWC/Challenges</p>
        </div>

        <div>
            <h3>Repository Location</h3>
            <p>https://github.com/AndresJWC/Challenges</p>
        </div>

        <div>
            <h3>Solution implemented</h3>
            <p>The solution created is for the Rock-Paper-Scissors problem, which has the following rules:</p>
            <ul>
                <li>If the number of players should be equal to 2.</li>
                <li>The players strategy can only be rock, scissors or paper.</li>
                <li>If both players use the same strategy, the first player is the winner.</li>
            </ul>
        </div>

        <div>
            <h3>Justification of the technologies used</h3>
            <p>I choose .net becuse that was the technology I was applying to work with, and I used MVC razor due the fact that it has an MVC framework that provides tool to easily implement a clean and easy to undestand code</p>
        </div>        
    </section>
</div>

